html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather";
  margin: 0;
  padding: 0;
  /* background: linear-gradient(white, 50%, #E1E2EF); */
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

/* landing page styling */


#canvas {
  border-top: 5px solid #05204A;
  background: linear-gradient(#87BCDE, 1%, white);
  height: 100vh;
}

#charlie {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 3px 0px 30px #02020A;
  /* transform: translate(-50%, 0); */
}

.hero-greeting {
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 200%;
  /* transform: translate(-50%,0); */
  text-shadow: 2px 2px 2px white;
  color: #02020A;
}

.hero-description {
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 20%;
  /* transform: translate(-50%,0); */
  text-shadow: 2px 2px 2px white;
  color: #02020A;
  padding-right: 5vw;
}

#downArrowBtn {
  background-image: url('../icons/blackDownArrow.png');
  background-size: contain;
  height: 48px;
  width: 48px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  border: none;
  background-color: transparent;
  transform: translate(-50%,0);
}

#downArrowBtn:hover {
  background-image: url('../icons/blueDownArrow.png');
}

/* nav bar styling */

/* nav {
  position: sticky;
  top: 0;
  padding: 2vh;
  background-color: #05204A;
  z-index: 1;
}

nav a {
  color: #E1E2EF;
  padding-left: 1vw;
  text-decoration: none;
} */

/* about page styling */

#about {
  padding-bottom: 10vh;
}

.flex-container {
  display: flex;
}

.justified {
  justify-content: center;
}

.banner {
  padding-bottom: 5vh;
}

.fontsize150{
  font-size: 150%;
}

#profile-pic {
  height: 40vh;
  border-radius: 50%;
  box-shadow: 5px 5px 50px black;
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.about-description {
  line-height: 2em;
  margin-left: 20vw;
  margin-right: 20vw;
}

.description-body {
  border-left: 5px solid #05204A;
  padding-left: 3vw;
}

#contact-box {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  margin-bottom: 10vh;
  /* position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,0); */
}

#contact-box a {
  border-radius: 20%;
  height: 32px;
  width: 32px;
  margin: 0 15px;
  box-shadow: 1px 1px 1px white;
}

#linkedin {
  background-image: url('../icons/blackLinkedin64.png');
  background-size: contain;
}

#linkedin:hover{
  background-image: url('../icons/blueLinkedin64.png');
  background-size: contain;
}

#github {
  background-image: url('../icons/blackGithub64.png');
  background-size: contain;
}

#github:hover {
  background-image: url('../icons/blueGithub64.png');
  background-size: contain;
}

#gmail {
  background-image: url('../icons/blackGmail64.png');
  background-size: contain;
}

#gmail:hover {
  background-image: url('../icons/blueGmail64.png');
  background-size: contain;
}

.section {
  margin: 10vh;
}

.section-header {
  margin-bottom: 5vh;
  color: white;
  text-shadow: 1px 0px 3px black;
  text-decoration: underline;
}

.centered {
  text-align: center;
}
/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
}

*/

#projects {
  /* background: linear-gradient(white, 50%, #E1E2EF) */
}

.project {
  margin-right: 3vw;
  margin-left: 3vw;
}

.project img {
  height: 100px;
  width: 120px;
}

#joke-container {
  height: 100vh;
  padding: 20vh;
}

#jokeDiv {

}

#contact {
  height: 100vh;
  padding-bottom: 150px;
  background-color: #02020A;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}]


@media screen and (max-width: 500px) {
  #sub {
    font-size: 10%;
  }
  #contact-box {
    bottom: 15%;
  }
  #contact-box a {
    height: 64px;
    width: 64px;
  }
  #downArrowBtn{
    height: 32px;
    width: 32px;
  }
}

@media screen and (max-height: 300px) {
    #sub {
      font-size: 10%;
    }
    #contact-box {
      bottom: 15%;
    }
    #contact-box a {
      height: 64px;
      width: 64px;
    }
    #downArrowBtn{
      height: 32px;
      width: 32px;
    }
}



/*
dark sky blue
#87BCDE

silver pink
#BFACAA

rich black
#02020A

oxford blue
#05204A

azureish white
#E1E2EF */
