html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  /* background-color: #E1E2EF; */
}

canvas {
  background: linear-gradient(#87BCDE, 20%, #E1E2EF);
}

#landing {
  background-color: #05204A;
}

#landing h2 {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%,0);
  font-weight: bolder;
  font-size: 400%;
  height: 2vh;
  text-shadow: 2px 2px 2px white;
  color: #02020A;
}

#landing h2:hover {
  color: #87BCDE;
  text-shadow: 1px 1px 1px black;
  -webkit-transition: color 1s;
  transition: color 1s;

}

#landing a {
  background-color: #E1E2EF;
  border-radius: 20%;
  height: 64px;
  width: 64px;
  margin: 0 15px;
  box-shadow: 1px 1px 1px white;
}

#contact-box {
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%,0);
}

#landing img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  height: 40%;
  box-shadow: 5px 5px 5px #02020A;
  border: 2px solid black;
}

#landing img:hover{
  opacity: 0.75;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  border: 2px solid white;
}

#linkedin {
  background-image: url('../icons/blackLinkedin64.png');
  background-size: contain;
}

#linkedin:hover{
  background-image: url('../icons/blueLinkedin64.png');
  background-size: contain;
}


#github {
  background-image: url('../icons/blackGithub64.png');
  background-size: contain;
}

#github:hover {
  background-image: url('../icons/blueGithub64.png');
  background-size: contain;
}

#gmail {
  background-image: url('../icons/blackGmail64.png');
  background-size: contain;
}

#gmail:hover {
  background-image: url('../icons/blueGmail64.png');
  background-size: contain;
}

@media screen and (max-width: 700px) {
  #landing h2 {
    font-size: 300%;
  }
  #landing a {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 400px) {
  #landing h2 {
    font-size: 100%;
  }
  #landing a {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-height: 400px) {
  #landing h2 {
    font-size: 150%;
  }
  #landing a {
    height: 32px;
    width: 32px;
  }
}


nav {
  position: sticky;
  top: 0;
  padding: 2vh;
  background-color: #05204A;
  z-index: 1;
}

nav a {
  color: #E1E2EF;
  padding-left: 1vw;
  text-decoration: none;
}

#about {
  background: linear-gradient(white, 80%, #E1E2EF);
  height: 100vh;
}

#about h1 {
  text-decoration: underline;
}

.column img {
  height: 30%;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


#hero {
  background: linear-gradient(#E1E2EF, 20%, white);
}

.centered {
  text-align: center;
}

.section {
  padding: 10vh 15vw;

}

.section p {
}


#projects {
  height: 100vh;
}

.project {
  display: grid;
  grid-template-areas:
    "pic title"
    "pic description";
  grid-template-columns: 33% 66%;
  justify-items: center;
  align-items: center;
}

.project h4 {
  grid-area: title;
}

.project img {
  height: 100px;
  width: 120px;
  grid-area: pic;

}

.project p {
  grid-area: description;
}

#contact {
  padding-bottom: 150px;
}

[aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-up"].aos-animate {
  opacity: 1;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}]






/*
dark sky blue
#87BCDE

silver pink
#BFACAA

rich black
#02020A

oxford blue
#05204A

azureish white
#E1E2EF */
